allow kernel log_device:dir { write add_name };
allow kernel log_device:file { read write create open };
allow kernel untrusted_app_tmpfs:file write;
