allow untrusted_app device:dir { read open };
allow untrusted_app unlabeled:dir { write search read remove_name open getattr add_name };
allow untrusted_app unlabeled:file { write getattr read unlink open append };
allow untrusted_app unlabeled:filesystem getattr;

allow untrusted_app adsprpcd_exec:file getattr;
allow untrusted_app audiod_exec:file getattr;
allow untrusted_app bootanim_exec:file getattr;
allow untrusted_app clatd_exec:file getattr;
allow untrusted_app cnd_exec:file getattr;
allow untrusted_app debuggerd_exec:file getattr;
allow untrusted_app dhcp_exec:file getattr;
allow untrusted_app dnsmasq_exec:file getattr;
allow untrusted_app dpmd_exec:file getattr;
allow untrusted_app drmserver_exec:file getattr;
allow untrusted_app dumpstate_exec:file getattr;
allow untrusted_app hostapd_exec:file getattr;
allow untrusted_app ims_exec:file getattr;
allow untrusted_app imscm_exec:file getattr;
allow untrusted_app install_recovery_exec:file getattr;
allow untrusted_app installd_exec:file getattr;
allow untrusted_app irsc_util_exec:file getattr;
allow untrusted_app keystore_exec:file getattr;
allow untrusted_app lmkd_exec:file getattr;
allow untrusted_app location_exec:file getattr;
allow untrusted_app logd_exec:file getattr;
allow untrusted_app mdnsd_exec:file getattr;
allow untrusted_app mediaserver_exec:file getattr;
allow untrusted_app mm-pp-daemon_exec:file getattr;
allow untrusted_app mm-qcamerad_exec:file getattr;
allow untrusted_app sysfs_lowmemorykiller:file { read getattr };
allow untrusted_app unlabeled:dir create;
allow untrusted_app unlabeled:file create;
allow untrusted_app vm_bms_exec:file getattr;
allow untrusted_app vold_exec:file getattr;
allow untrusted_app wcnss_service_exec:file getattr;
allow untrusted_app wpa_exec:file getattr;
