allow vendor_init proc_kernel_sched:file write;
r_dir_file(vendor_init, firmware_file)

allow vendor_init block_device:blk_file setattr;
allow vendor_init media_rw_data_file:file { getattr relabelfrom };
allow vendor_init proc:file write;
allow vendor_init rootfs:dir { add_name create write };
allow vendor_init socket_device:sock_file setattr;
allow vendor_init sysfs:lnk_file setattr;
allow vendor_init wifi_data_file:dir create_dir_perms;
allow vendor_init proc_kernel_sched:file write;
allow vendor_init proc_printk:file write;
