allow zygote media_rw_data_file:dir write;
allow zygote media_rw_data_file:dir search;
allow zygote unlabeled:dir { getattr setattr mounton search };
